{% extends "layout.html" %}
<html>
  <body>
    <div class="container">
      <form role="form">
        <div class="form-group">
          Username: <br>
          <input type="text" name="username"/> <br>
        </div>
        
        <div class="form-group">
          Password: <br>
          <input type="password" name="password"/> <br>
          Confirm Password: <br>
        </div>
        
        <input type="text" name="password"/> <br>
        Register: <br>
        <input type="submit" value="submit"/> <br>
      </form>
    </div>
  </body>
</html>