{% extends "layout.html" %}

{%block body%}

  <div id = "main-div" class="container">
    
    {% if message %}
    <h3>
      {{message}}
    </h3>
    {% endif %}
    
    <form role="form" action='/signup' method='POST'>

      <div class="form-group">
        <label for="usr">Username:</label>
        <input type="text" class="form-control" id="usr" placeholder="username"> <br>
      </div>

      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="password"/> <br>
      </div>

      <div class="form-group">
        <label for="pwd">Confirm Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="enter password"/> <br>
      </div>

      <div class="form-group">
        Register: <br>
        <input type="submit" value="submit"/> <br>
      </div>

    </form>
  </div>
{%endblock%}
